@model IEnumerable<OdeToFood.Models.RestaurantListViewModel>

@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Title.</h2>


<form class="form-inline" method="get">
    <input class="form-control mb-2" type="search" name="searchTerm" />
    <input class="btn btn-info mb-2" type="submit" value="Search by Name" />
</form>


@foreach (var item in Model)
{
    <div>
        <h4>@item.Name</h4>
        <div>@item.City, @item.Country</div>
        <div>Reviews: @item.CountOfReviews</div>
        <hr />
    </div>
}